@font-face {
    font-family: "Candide";
    src: url("../fonts/Candide\ Narrow\ Normal.ttf") format('truetype');
}

header{
    width: 100%;
    padding: 2.4rem 0;
    background-color: $slate_100;
    position:fixed;
    z-index: 99;
    box-shadow: 1px 14px 52px -21px rgba(0,0,0,0.75);
    
}

.header-content{
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    >.logo{

        display: flex;
        align-items: center;
        gap: 1.6rem;

        >a img{
           width: 6rem;
        }

        >span{
            visibility: hidden;

            @media(min-width:425px){
            visibility: visible;    
            font-family: "Candide" , sans-serif;
            font-size: 2.4rem;
            text-transform: uppercase;

            border-bottom: 4px solid $blue_600 ;
            }

          
        }
       
    }


    i{
        color: $slate_800;
        font-size: 3rem;
      
        
    }   
    
    #toggle-menu{
        position:absolute;
        right: 22px;
        z-index: 100;

        @media (min-width :768px)  {
        
                display: none;
            

        }

    }
    .fa-bars.is-active,
    .fa-x.is-active {
        display: none;
      
    }
        > .mobile-nav{
            display: none;
        }

         .mobile-nav.is-active {         
            width: 60%;
            height: 60vh;
            position: fixed;
            top: 13px;
            right: 0;
            z-index: 99;
            background-color: $blue_600;    
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            text-transform: uppercase;
            transition: 5s;

            

            @media(min-width: 768px){
                display: none;
            }
            
            
            
            >  a{
                text-decoration: none;
                color: $white;
                font-size: 1.6rem;
               
                
            &:after{
               content: "";
               display: block;
               width:0 ;
               height: 1px;
               background-color: $white;
               transition: width 0.15s ease-in-out;

              

            }

            &:hover::after{
                width: 100%;
            }


           
        }
            
            
        }   

       
     

      .desktop-nav{
        display: none;
        

        @media (min-width:768px){
            display: flex;
            gap: 2rem;

            >  a{
                text-decoration: none;
                color: $slate_800;
                font-size: 2rem;
               
                
            &:after{
               content: "";
               display: block;
               width:0 ;
               height: 1px;
               background-color: $slate_800;
               transition: width 0.15s ease-in-out;

              

            }

            &:hover::after{
                width: 100%;
            }
        }
        
      }  
    


   
        
   
}
}