.question-card{
    background-color: $slate_100;

    border-radius: 5px;
    padding: 1rem;
   
    >.question{
        display: flex;
        gap: 1rem;

        

    }
    .fa-plus.show,
    .fa-minus.show,
    .card2-plus.show,
    .card2-minus.show,
    .card3-plus.show,
    .card3-minus.show
     {
        display: none;
      
    }

    
    
    button{
        font-size: 1.4rem;
        font-weight: bold;
        text-align: left;

        cursor: pointer;
        >i{
          
           
            font-size: 1.2rem;
            color: $blue_600;
            
        }
    }
    .answer1,
    .answer2,
    .answer3{
        display: none;
    }
    
    .answer1,
    .answer2,
    .answer3{
        font-size: 1.4rem;
        text-align: left;
        margin-top: .5rem;
        
    }

    .answer1.show,
    .answer2.show,
    .answer3.show{
        display: block;
    }
}