.slider{
    margin: 0 auto;
    width: 100%;
    max-width: 500px;

    overflow: hidden;
    box-shadow:  16px 22px 18px -20px rgba(0,0,0,0.6);
    border-radius: 10px;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
   
}


.slides input{
    display: none;
}


//slides

.slide{
    
    width: 25%;
    position: relative;
    transition: .2s ;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;


    
}





								
.slide{
    position: relative;
 
 }
 
 .slide-img1::before{
     content: "";
     display: block;
     position:absolute;
     top: 0;
     left: 0;
     background-image: url("../assets/serv-1.jpg");
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     width: 100%;
     height: 100%;
     opacity: 0.6;
 
 
     
 
     z-index: -1;
 }
 
 
 .slide-img2::before{
     content: "";
     display: block;
     position:absolute;
     top: 0;
     left: 0;
     background-image: url("../assets/serv-2.jpg");
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     width: 100%;
     height: 100%;
     opacity: 0.6;

 
     
     z-index: -1;
 }
 .slide-img3::before{
     content: "";
     display: block;
     position:absolute;
     top: 0;
     left: 0;
     background-image: url("../assets/serv-3.jpg");
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     width: 100%;
     height: 100%;
     opacity: 0.6;

 
     z-index: -1;
 }

 .service-description{
    display: flex;
    flex-direction: column;

    align-items: center;
    

    margin: 0 auto;
    padding: 2rem 1.6rem;


    border-top: 1px solid rgba(153,153,153,0.5);
    border-right: 1px solid rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.5);
    border-left: 1px solid rgba(153,153,153,0.5);
    border-radius: 10px;

    backdrop-filter: blur(8px);
    text-align: center;

    >h1{
    
        margin-bottom: 1.6rem;
        padding-bottom: .8rem;
        border-bottom: 4px solid $blue_600 ;
    }

    >p{
        font-size: 1.4rem;
        font-weight: 500;
    };
 }
 

 //navigation buttons

 .manual-navigation{
    position: absolute;
    width: 90%;

    margin-top: -40px;
    display: flex;
    justify-content: center;

    @media(min-width: 768px){
        width: 50%;
    right: 15px;
    }
   
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .8s;

    &:hover{
        background-color: white;
    }
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
    
}
#radio3:checked ~ .first{
    margin-left: -50%;
    
}



.navigation-auto div{
    border: 2px solid $blue_600;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1;
}

.navigation-auto{
    position: absolute;
    
    width: 90%;
   
    margin-top: 360px;
    display: flex;
    justify-content: center;

    @media(min-width: 768px){
        width: 50%;
    right: 15px;
    }

}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto  .auto-btn1,
#radio2:checked ~ .navigation-auto  .auto-btn2,
#radio3:checked ~ .navigation-auto  .auto-btn3,
#radio4:checked ~ .navigation-auto  .auto-btn4{
    background-color: white;
}








