
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    
}


:root{
    font-size: 62.5%;
    
}


@import "partials/colors";
@import "partials/header";
@import "partials/layout";


body{
    font-size: 1.6rem;
    font-family:"Sora" , sans-serif ;
    position: relative;
    background-color: $blue_600;
}

button {
    border: none;
    background: none;
    font-family:"Sora" , sans-serif ;
}





