* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

:root {
  font-size: 62.5%;
}

@font-face {
  font-family: "Candide";
  src: url("../fonts/Candide Narrow Normal.ttf") format("truetype");
}
header {
  width: 100%;
  padding: 2.4rem 0;
  background-color: #f1f5f9;
  position: fixed;
  z-index: 99;
  box-shadow: 1px 14px 52px -21px rgba(0, 0, 0, 0.75);
}

.header-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-content > .logo {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.header-content > .logo > a img {
  width: 6rem;
}
.header-content > .logo > span {
  visibility: hidden;
}
@media (min-width: 425px) {
  .header-content > .logo > span {
    visibility: visible;
    font-family: "Candide", sans-serif;
    font-size: 2.4rem;
    text-transform: uppercase;
    border-bottom: 4px solid #0C346B;
  }
}
.header-content i {
  color: #1e293b;
  font-size: 3rem;
}
.header-content #toggle-menu {
  position: absolute;
  right: 22px;
  z-index: 100;
}
@media (min-width: 768px) {
  .header-content #toggle-menu {
    display: none;
  }
}
.header-content .fa-bars.is-active,
.header-content .fa-x.is-active {
  display: none;
}
.header-content > .mobile-nav {
  display: none;
}
.header-content .mobile-nav {
  width: 60%;
  height: 60vh;
  position: fixed;
  top: 130px;
  right: -100%;
  z-index: 99;
  background-color: #0C346B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-transform: uppercase;
  transition: right 1.5s ease;
}
@media (min-width: 768px) {
  .header-content .mobile-nav {
    display: none;
  }
}
.header-content .mobile-nav > a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
}
.header-content .mobile-nav > a:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: white;
  transition: width 0.15s ease-in-out;
}
.header-content .mobile-nav > a:hover::after {
  width: 100%;
}
.header-content .mobile-nav.is-active {
  right: 0;
}
.header-content .desktop-nav {
  display: none;
}
@media (min-width: 768px) {
  .header-content .desktop-nav {
    display: flex;
    gap: 2rem;
  }
  .header-content .desktop-nav > a {
    text-decoration: none;
    color: #1e293b;
    font-size: 2rem;
  }
  .header-content .desktop-nav > a:after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: #1e293b;
    transition: width 0.15s ease-in-out;
  }
  .header-content .desktop-nav > a:hover::after {
    width: 100%;
  }
}

@font-face {
  font-family: "Candide";
  src: url("../fonts/Candide Narrow Normal.ttf") format("truetype");
}
@font-face {
  font-family: "Alegrya";
  src: url("../fonts/Alegrya.otf") format("opentype");
}
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 1.2rem;
}

.btn-contact {
  display: inline-block;
  padding: 1rem;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  font-size: 1.6rem;
  cursor: pointer;
  color: black;
  z-index: 1;
  margin-top: 3.2rem;
}
@media (min-width: 768px) {
  .btn-contact {
    font-size: 2rem;
    position: absolute;
    margin-top: -50px;
  }
}
@media (min-width: 1024px) {
  .btn-contact {
    margin-top: -90px;
  }
}

.btn-contact:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn-contact:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #ef4444;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn-contact:hover {
  color: #ffffff;
  border: 1px solid #ef4444;
}

.btn-contact:hover:before {
  top: -35%;
  background-color: #ef4444;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn-contact:hover:after {
  top: -45%;
  background-color: #ef4444;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

main .bg-home {
  position: relative;
}
main .bg-home::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/serv-2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
}
main .hero .hero-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .hero .hero-content > h1 {
  font-family: "Candide", sans-serif;
  font-size: 4rem;
  color: black;
  text-transform: uppercase;
  margin: 8.4rem 0 4rem;
  padding-bottom: 1.2rem;
  border-bottom: 6px solid #0C346B;
}
@media (min-width: 768px) {
  main .hero .hero-content > h1 {
    font-size: 6.4rem;
  }
}
@media (min-width: 1024px) {
  main .hero .hero-content > h1 {
    font-size: 7.4rem;
  }
}
@media (min-width: 1400px) {
  main .hero .hero-content > h1 {
    font-size: 8.4rem;
  }
}
main .hero .hero-content > h2 {
  font-family: "Alegrya", sans-serif;
  font-size: 2.2rem;
  text-align: center;
  color: black;
  margin-bottom: 3.2rem;
}
@media (min-width: 768px) {
  main .hero .hero-content > h2 {
    font-size: 3.2rem;
  }
}
@media (min-width: 1024px) {
  main .hero .hero-content > h2 {
    font-size: 4.2rem;
  }
}
main .hero .hero-content > p {
  font-size: 1.4rem;
  font-weight: 500;
  color: black;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 3.2rem;
}
@media (min-width: 768px) {
  main .hero .hero-content > p {
    font-size: 1.6rem;
    width: 400px;
  }
}
@media (min-width: 1024px) {
  main .hero .hero-content > p {
    font-size: 2rem;
    width: 400px;
  }
}
@media (min-width: 1400px) {
  main .hero .hero-content > p {
    font-size: 2rem;
    width: 500px;
  }
}
main .about {
  background-color: #f1f5f9;
}
main .about .about-content.container {
  padding: 6.4rem 1.2rem;
}
main .about .about-content.container > h1 {
  text-transform: uppercase;
  font-size: 2.4rem;
  display: inline-block;
  padding-bottom: 0.6rem;
  margin-bottom: 3.2rem;
  border-bottom: 2px solid #ef4444;
}
@media (min-width: 768px) {
  main .about .about-content.container > h1 {
    font-size: 3.2rem;
  }
}
main .about .about-content.container > p {
  font-size: 1.4rem;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 3.2rem;
}
@media (min-width: 768px) {
  main .about .about-content.container > p {
    font-size: 1.6rem;
  }
}
main .about .about-content.container p + p {
  margin-top: 3.2rem;
}
main .about .about-content.container .btn-about {
  border-bottom: 2px solid #D93D40;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-top: 3.2rem;
}
main .services {
  padding-bottom: 6.4rem;
}
main .services .services-content {
  padding: 6.4rem 1.2rem;
}
main .services .services-content > h1 {
  text-transform: uppercase;
  font-size: 2.4rem;
  display: inline-block;
  padding-bottom: 0.6rem;
  margin-bottom: 3.2rem;
  border-bottom: 2px solid #ef4444;
}
@media (min-width: 768px) {
  main .services .services-content > h1 {
    font-size: 3.2rem;
  }
}
main .services .services-content .service-wrap {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
main .services .services-content .service-wrap > p {
  font-size: 1.4rem;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 3.2rem;
}
@media (min-width: 768px) {
  main .services .services-content .service-wrap > p {
    font-size: 1.6rem;
  }
}
@media (min-width: 768px) {
  main .services .services-content .service-wrap {
    flex-direction: row;
    gap: 3rem;
  }
  main .services .services-content .service-wrap > p {
    width: 700px;
    text-align: left;
  }
}
main .questions {
  background-color: #f1f5f9;
  padding-bottom: 6.4rem;
}
main .questions .questions-content.container {
  padding: 6.4rem 1.2rem;
}
main .questions .questions-content.container > h1 {
  text-transform: uppercase;
  font-size: 2.4rem;
  display: inline-block;
  padding-bottom: 0.6rem;
  margin-bottom: 3.2rem;
  border-bottom: 2px solid #ef4444;
}
@media (min-width: 768px) {
  main .questions .questions-content.container > h1 {
    font-size: 3.2rem;
  }
}
main .questions .questions-content.container .questions-wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .questions .questions-content.container .questions-wrap > p {
  font-size: 1.4rem;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 3.2rem;
}
@media (min-width: 768px) {
  main .questions .questions-content.container .questions-wrap > p {
    font-size: 1.6rem;
  }
}
main .contact {
  background-color: #e2e8f0;
  padding: 6.4rem 0;
}
main .contact .contact-content > h1 {
  text-transform: uppercase;
  font-size: 2.4rem;
  display: inline-block;
  padding-bottom: 0.6rem;
  margin-bottom: 3.2rem;
  border-bottom: 2px solid #ef4444;
}
@media (min-width: 768px) {
  main .contact .contact-content > h1 {
    font-size: 3.2rem;
  }
}
main .contact .contact-content .contact-informations-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
@media (min-width: 768px) {
  main .contact .contact-content .contact-informations-wrap {
    flex-direction: row;
    justify-content: space-between;
  }
  main .contact .contact-content .contact-informations-wrap > .contact-informations {
    width: 70%;
  }
}
main .contact .contact-content .contact-informations-wrap > .contact-informations > h2 {
  font-size: 1.6rem;
  margin-bottom: 2.6rem;
}
@media (min-width: 768px) {
  main .contact .contact-content .contact-informations-wrap > .contact-informations > h2 {
    font-size: 2rem;
  }
}
main .contact .contact-content .contact-informations-wrap > .contact-informations > h3 {
  font-size: 1.4rem;
}
@media (min-width: 768px) {
  main .contact .contact-content .contact-informations-wrap > .contact-informations > h3 {
    font-size: 1.6rem;
  }
}
main .contact .contact-content .contact-informations-wrap > .contact-informations > p {
  font-size: 1.4rem;
  margin-top: 1.2rem;
}
main .contact .contact-content .contact-informations-wrap > .contact-informations > p > a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
@media (min-width: 768px) {
  main .contact .contact-content .contact-informations-wrap > .contact-informations > p {
    font-size: 1.6rem;
  }
}
main .contact .contact-content .contact-informations-wrap > iframe {
  width: 100%;
  height: 300px;
}

footer {
  background-color: #1e293b;
  width: 100%;
  padding: 2.4rem 0;
}
footer > .footer-content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  footer > .footer-content {
    flex-direction: row;
  }
}
footer > .footer-content > p {
  font-size: 1.4rem;
  color: white;
}
footer > .footer-content > span {
  color: #ef4444;
}
footer > .footer-content > span > a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

@font-face {
  font-family: "Alegrya";
  src: url("../fonts/Alegrya.otf") format("opentype");
}
.slider {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  box-shadow: 16px 22px 18px -20px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  position: relative;
  background-color: #0C346B;
  z-index: -1;
}

.slide-img1::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/serv-1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
}

.slide-img2::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/serv-2.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
}

.slide-img3::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/serv-3.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
}

.service-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 1.6rem;
  color: white;
  text-align: center;
}
.service-description > h1 {
  font-family: "Alegrya", sans-serif;
  margin-bottom: 1.6rem;
  padding-bottom: 0.8rem;
  border-bottom: 4px solid #ef4444;
}
@media (min-width: 768px) {
  .service-description > h1 {
    font-size: 3.2rem;
  }
}
.service-description > p {
  font-size: 1.4rem;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .service-description > p {
    font-size: 1.8rem;
  }
}

.manual-navigation {
  position: absolute;
  width: 90%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
@media (min-width: 728px) {
  .manual-navigation {
    width: 50%;
    right: 0;
  }
}
@media (min-width: 1040px) {
  .manual-navigation {
    width: 40%;
    right: 0;
  }
}

.manual-btn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.8s;
}
.manual-btn:hover {
  background-color: white;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

.navigation-auto div {
  border: 2px solid #0C346B;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1;
}

.navigation-auto {
  position: absolute;
  width: 90%;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}
@media (min-width: 728px) {
  .navigation-auto {
    width: 50%;
    right: 0;
  }
}
@media (min-width: 1040px) {
  .navigation-auto {
    width: 40%;
    right: 0;
  }
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1,
#radio2:checked ~ .navigation-auto .auto-btn2,
#radio3:checked ~ .navigation-auto .auto-btn3,
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: white;
}

.question-card {
  background-color: #e2e8f0;
  max-width: 600px;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 16px 22px 18px -20px rgba(0, 0, 0, 0.331);
}
.question-card > .question {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.question-card > .question > p {
  font-size: 1.6rem;
  font-weight: bold;
}
.question-card .fa-plus.show,
.question-card .fa-minus.show,
.question-card .card2-plus.show,
.question-card .card2-minus.show,
.question-card .card3-plus.show,
.question-card .card3-minus.show,
.question-card .card4-minus.show,
.question-card .card4-minus.show {
  display: none;
}
.question-card button {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
}
.question-card button > i {
  font-size: 1.2rem;
  color: #0C346B;
}
.question-card .answer1,
.question-card .answer2,
.question-card .answer3,
.question-card .answer4 {
  display: none;
}
.question-card .answer1,
.question-card .answer2,
.question-card .answer3,
.question-card .answer4 {
  display: block;
  font-size: 1.4rem;
  text-align: left;
  margin-top: 0.5rem;
  margin-top: 1.6rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease;
}
.question-card .answer1.show,
.question-card .answer2.show,
.question-card .answer3.show,
.question-card .answer4.show {
  max-height: 80px;
}

@keyframes scale-up-ver-top {
  0% {
    transform: scaleY(0.4);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}
body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  position: relative;
  background-color: #e2e8f0;
}

button {
  border: none;
  background: none;
  font-family: "Roboto", sans-serif;
}/*# sourceMappingURL=style.css.map */