* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

:root {
  font-size: 62.5%;
}

header {
  width: 100%;
  padding: 2.4rem 0;
  background-color: #f1f5f9;
}

.header-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-content > h1 {
  color: #1e293b;
}
.header-content i {
  color: #1e293b;
  font-size: 3rem;
}
.header-content #toggle-menu {
  position: absolute;
  right: 22px;
  z-index: 100;
}
.header-content .fa-bars.is-active,
.header-content .fa-x.is-active {
  display: none;
}
.header-content > .mobile-nav {
  display: none;
}
.header-content .mobile-nav.is-active {
  width: 70%;
  height: 60vh;
  position: fixed;
  top: 13px;
  right: 0;
  z-index: 99;
  background-color: #64748b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-transform: uppercase;
}
.header-content .mobile-nav.is-active > a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
}
.header-content .mobile-nav.is-active > a:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: white;
  transition: width 0.15s ease-in-out;
}
.header-content .mobile-nav.is-active > a:hover::after {
  width: 100%;
}
.header-content .desktop-nav {
  display: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1.2rem;
}

main .bg-home {
  position: relative;
}
main .bg-home::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/serv-2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
}
main .hero .hero-content {
  height: 84vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .hero .hero-content > h1 {
  font-size: 4rem;
  color: black;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  padding-bottom: 1.2rem;
  border-bottom: 6px solid #1E4F87;
}
main .hero .hero-content > h2 {
  font: 2.2rem;
  text-align: center;
  color: black;
  margin-bottom: 3.2rem;
}
main .hero .hero-content > p {
  font-size: 1.4rem;
  font-weight: 500;
  color: black;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 3.2rem;
}
main .hero .hero-content > .btn-hero {
  border-bottom: 2px solid #D93D40;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
main .about {
  background-color: #f1f5f9;
}
main .about .about-content.container {
  padding: 6.4rem 1.2rem 3.2rem;
}
main .about .about-content.container > h1 {
  text-transform: uppercase;
  font-size: 2.4rem;
  display: inline-block;
  padding-bottom: 1.2rem;
  margin-bottom: 3.2rem;
  border-bottom: 2px solid #ef4444;
}
main .about .about-content.container > p {
  font-size: 1.4rem;
  line-height: 1.6;
  text-align: justify;
}
main .about .about-content.container p + p {
  margin-top: 3.2rem;
}
main .about .about-content.container .btn-about {
  border-bottom: 2px solid #D93D40;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-top: 3.2rem;
}
main .services .services-content {
  padding: 6.4rem 1.2rem;
}
main .services .services-content > h1 {
  text-transform: uppercase;
  font-size: 2.4rem;
  display: inline-block;
  padding-bottom: 1.2rem;
  margin-bottom: 3.2rem;
  border-bottom: 2px solid #ef4444;
}
main .contact {
  background-color: #f1f5f9;
  padding: 6.4rem 0;
}
main .contact .contact-content > h1 {
  text-transform: uppercase;
  font-size: 2.4rem;
  display: inline-block;
  padding-bottom: 1.2rem;
  margin-bottom: 3.2rem;
  border-bottom: 2px solid #ef4444;
}
main .contact .contact-content .contact-informations-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
main .contact .contact-content .contact-informations-wrap > .contact-informations > h2 {
  font-size: 1.6rem;
  margin-bottom: 2.6rem;
}
main .contact .contact-content .contact-informations-wrap > .contact-informations > h3 {
  font-size: 1.4rem;
}
main .contact .contact-content .contact-informations-wrap > .contact-informations > p {
  font-size: 1.4rem;
  margin-top: 1.2rem;
}
main .contact .contact-content .contact-informations-wrap > .map iframe {
  width: 100%;
  height: 300px;
}

footer {
  background-color: #1e293b;
  width: 100%;
  font-size: 1rem;
  color: white;
  padding: 2.4rem 1.2rem;
  text-align: center;
}

.slider {
  margin: 0 auto;
  width: 270px;
  height: 300px;
  overflow: hidden;
  box-shadow: 16px 22px 18px -20px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 0.2s;
  padding: 1.6rem;
}

.slide.first.slide-img {
  position: relative;
}

.slide-img::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/serv-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
}

.slide-img2::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/serv-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
}

.slide-img3::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/serv-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
}

.service-description {
  width: 24rem;
  display: flex;
  flex-direction: column;
  color: #1e293b;
  position: absolute;
  padding: 1rem;
  gap: 1rem;
  border-top: 1px solid rgba(153, 153, 153, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(153, 153, 153, 0.5);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.service-description > h1 {
  font-size: 2.4rem;
  color: #1e293b;
  font-weight: bold;
  text-align: center;
}
.service-description > p {
  font-size: 1.4rem;
  color: #1e293b;
  text-align: center;
}

.manual-navigation {
  position: absolute;
  width: 250px;
  margin-top: -120px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.8s;
}
.manual-btn:hover {
  background-color: white;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

.navigation-auto div {
  border: 2px solid #1E4F87;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1;
}

.navigation-auto {
  position: absolute;
  width: 250px;
  margin-top: 280px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1,
#radio2:checked ~ .navigation-auto .auto-btn2,
#radio3:checked ~ .navigation-auto .auto-btn3,
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: white;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  position: relative;
  background-color: #e2e8f0;
}

button {
  border: none;
  background: none;
  font-family: "Roboto", sans-serif;
}/*# sourceMappingURL=style.css.map */